@import "~react-toolbox/lib/globals";

.appWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 4 * $unit;
}

.appCard {
  width: 25 * $unit;
  margin: 2 * $unit;
}

.appAdd {
  position: absolute;
  top:   3.8 * $unit;
  right: 6 * $unit;
  z-index: $z-index-higher;
}
